#flashcard {
    background-color: bisque;
    display: flex;

}

.carta0 {
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.cartao__conteudo {
    text-align: center;
    height: 100%;
}